@use "./Buttons/button";

// Использовать следующие переменные как корневые
// Использовать напрямую данные переменные нельзя.
// Необходимо для каждого компонента создать свой файл scss, и описать переменные для него используя только переменные описанные ниже, с подстановкой значений по умолчанию
// Пример
// --button-color: var(--primary-color, var(--def-primary-color));

/**
  // Цвета
  --primary-color
  --secondary-color
  --danger-color
  --warning-color
  --success-color
  --info-color

  --bg-dark-color
  --bg-color
  --bg-light-color
  --text-color
  --text-muted-color
  --highlight-color
  --border-color
  --border-muted-color

  // Размеры
  --font-size
  --border-radius

*/

// Ниже идут значения по умолчанию

// Светлая цветовая схема
:root {
  --def-primary-color: oklch(0.4 0.1 214);
  --def-secondary-color: oklch(0.4 0.1 34);
  --def-danger-color: oklch(0.5 0.05 30);
  --def-warning-color: oklch(0.5 0.05 100);
  --def-success-color: oklch(0.5 0.05 160);
  --def-info-color: oklch(0.5 0.05 260);

  --def-bg-dark-color: oklch(0.92 0.02 214);
  --def-bg-color: oklch(0.96 0.02 214);
  --def-bg-light-color: oklch(1 0.02 214);
  --def-text-color: oklch(0.15 0.04 214);
  --def-text-muted-color: oklch(0.4 0.04 214);
  --def-highlight-color: oklch(1 0.04 214);
  --def-border-color: oklch(0.6 0.04 214);
  --def-border-muted-color: oklch(0.7 0.04 214);

  --def-font-size: 1.6rem;
  --def-border-radius: 0.4rem;
}

// Темная цветовая схема
@media (prefers-color-scheme: dark) {
  :root {
    --def-primary-color: oklch(0.76 0.2 214);
    --def-secondary-color: oklch(0.76 0.2 34);
    --def-danger-color: oklch(0.7 0.2 30);
    --def-warning-color: oklch(0.7 0.2 100);
    --def-success-color: oklch(0.7 0.2 160);
    --def-info-color: oklch(0.7 0.2 260);

    --def-bg-dark-color: oklch(0.1 0.1 214);
    --def-bg-color: oklch(0.15 0.1 214);
    --def-bg-light-color: oklch(0.2 0.1 214);
    --def-text-color: oklch(0.96 0.1 214);
    --def-text-muted-color: oklch(0.76 0.1 214);
    --def-highlight-color: oklch(0.5 0.2 214);
    --def-border-color: oklch(0.4 0.2 214);
    --def-border-muted-color: oklch(0.3 0.2 214);
  }
}

html {
  font-size: 62.5%;
}
